<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Gurgen Test Automation" parallel="classes" thread-count="1" data-provider-thread-count="3">

	<test name="Version0 - Positive">
		<classes>
			<class name="core.GurgenTest">
				<methods>
					<include name="gurgenTest01" />
				</methods>
			</class>
		</classes>
	</test>
	
		<test name="Version0 - Negative">
		<classes>
			<class name="core.GurgenTest">
				<methods>
					<include name="gurgenTest02" />
				</methods>
			</class>
		</classes>
	</test>
</suite>